<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	
	<div>
		<button>
			<a href="/create">
				nuovo ingrediente
			</a>
		</button>
		
		<form>
			<span>Cerca</span>
			<input type="text" name="name" th:value="${name}">
			<input type="submit">
		</form>
	
		<p th:if="${ingredients.size()} == 0">
			non ci sono ingredienti
		</p>
		
		<ul th:if="${ingredients.size()} > 0">
			<li th:each="ingredient : ${ingredients}">
					[[${ingredient.getName()}]]
			</li>
		</ul>
		
	</div>
</body>
</html>